[submodule "rhive-streaming-serde"]
	path = rhive-streaming-serde
	url = https://github.com/jamiefolson/rhive-streaming-serde.git
[submodule "rhive-udf"]
	path = rhive-udf
	url = https://github.com/jamiefolson/rhive-udf.git
